$font-size:14px;
$font-famili:arial,Microsoft YaHe;
$outline:1px solid black;

*{
  margin:0;
  padding:0;
}
body{

  font-family: $font-famili;
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  ul>li{
    list-style: none;
  }
}




.header {
  width: 100%;
  height: 165px;
  font-size: 12px;
  //头部最上
  .top {
    background: #f4f4f4;
    height: 35px;
    .on {
      width: 1150px;
      height: 35px;
      margin: 0 auto;
      .onLeft {
        width: 88px;
        height: 33px;
        float: left;
        vertical-align: middle;
        img {
          display: inline-block;
          float: left;
          margin-top: 9px;
        }
        span {
          line-height: 36px;
          padding-left: 5px;
        }
      }
      .on_right {
        width: 540px;
        height: 35px;
        float: right;
        //line-height: 36px;
        ul {
          li {
            float: left;
            line-height: 35px;
            a {
              color: #8E8E8E;
              display: inline-block;
              float: left;
            }
            img {
              display: inline-block;
              margin-top: 8px;
              float: left;
            }
            p {
              float: left;
            }
            span {
              color: #8E8E8E;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
  //头部下导航
  .nav {
    width: 1150px;
    height: 90px;
    margin: 0 auto;
    //border: 1px solid black;
    position: relative;
    .navBox {
      width: 380px;
      position: absolute;
      left: 0;
      bottom: 0;
      .channel {
        .boys {
          padding: 8px 20px;
          color: white;
          background: #3A3A3A;
          float: left;
          text-align: center;
          p {
            font-size: 16px;
            font-weight: 700;
          }
        }
        .girls {
          padding: 8px 20px;
          text-align: center;
          float: left;
          p {
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
    //logo
    .logo {
      position: absolute;
      top: 30px;
      left: 500px;
    }
    .input {
      width: 390px;
      height: 30px;
      //border: 1px solid #3A3A3A;
      position: absolute;
      top: 45px;
      right: 0;
      input {
        width: 230px;
        height: 28px;
        border: 1px solid #3A3A3A;
        outline: none;
        padding-left: 10px;
        float: left;
      }
      span {
        width: 80px;
        height: 30px;
        display: inline-block;
        background: #3A3A3A;
        float: left;
      }
    }
  }
  .navOne {
    width: 100%;
    height: 40px;
    background: #3A3A3A;
    .navigatorBars {
      width: 1150px;
      height: 40px;
      margin: 0 auto;
      ul > li {
        float: left;
        line-height: 40px;
        margin-right: 80px;
        a {
          font-size: 14px;
          color: white;
          padding: 3px;
        }
        :hover {
          text-decoration: none;
          border-bottom: 2px solid white;
        }
      }
    }
  }
}



//中间内容部分
.top_top{
  width:100%;
  height:45px;
  background: black;
  .content_top{
    width:1152px;
    height:45px;
    //outline:$outline;
    background: black;
    margin:0 auto;
    .content_logo{
      width:111px;
      height:45px;
      float: left;
      //outline: $outline;
      img{
        width:111px;
        height:45px;
      }
    }
    span{
      display: inline-block;
      width:32px;
      height:32px;
      border: 1px solid white;
      float: right;
      margin-top: 4px;
      margin-left: 10px;
    }
  }
}
.content {
  width: 1152px;
  //height: 2777px;
  //outline: $outline;
  margin: 0 auto;

  .content_topone {
    width: 1152px;
    height: 48px;
    //outline: $outline;
    p {
      font-size: 14px;
      line-height: 48px;
      color: #666666;
    }
  }
  .content_centre {
    width: 1152px;
    height: 590px;
    //outline: $outline;
    .content_cnt {
      width: 994px;
      height: 590px;
      //outline: $outline;
      margin: 0 auto;
      //左边轮播效果
      .content_left {
        width: 423px;
        height: 561px;
        //outline: $outline;
        float: left;
        .img_show{
          display: block;
          width:100%;
          height:100%;
        }
      }
      .content_m {
        width: 75px;
        height: 419px;
        //outline: $outline;
        float: left;
        margin-left: 2px;
        span {
          display: inline-block;
          width: 75px;
          height: 102px;
          //outline: $outline;
          .img_show{
            display: block;
            width:100%;
            height:100%;
          }
        }
      }
      //右边商品选择条件
      .content_right {
        width: 470px;
        height: 561px;
        //outline: $outline;
        float: left;
        margin-left: 24px;
        .content_name {
          display: inline-block;
          width: 470px;
          height: 45px;
          //outline: $outline;
          line-height: 45px;
          font-weight: bolder;
          span {
            display: block;
            width: 300px;
            height: 15px;
            font-size: 12px;
            line-height: 15px;
            margin-top: -11px;
            color: #666666;
          }
        }
        .content_one {
          width: 470px;
          height: 196px;
          //outline: $outline;
          .price {
            font-size: 12px;
            color: #666666;
          }
          .price_one {
            font-size: 16px;
            font-weight: 900;
          }
          .price_two {
            width: 260px;
            height: 45px;
            //outline: $outline;
          }
          .price_three {
            display: block;
           line-height: 14px;
            color: #222;
            margin:10px 0;
            padding-left:48px;
            //outline: $outline;
            font-size: 12px;
            .vip{
              margin-left:5px;
              a{
                color: red;
              }
            }
          }
          .price_icon {
            width: 260px;
            height: 60px;
            //outline: $outline;
            .festival {
              display: inline-block;
              width: 260px;
              height: 16px;
              //outline: $outline;
              font-size: 12px;
              margin-bottom: 4px;
              span {
                display: inline-block;
                width: 60px;
                height: 16px;
                //outline: $outline;
                font-size: 12px;
                text-align: center;
                color: white;
                background: #999999;
              }
            }
          }
        }
        .price_btn {
          width: 470px;
          height: 254px;
          //outline: $outline;
          .colour {
            width: 470px;
            height: 85px;
            //outline: $outline;
            p {
              font-size: 12px;
              width: 60px;
              height: 85px;
              line-height: 85px;
              float: left;
              color: #999999;
            }
            span {
              display: inline-block;
              width: 40px;
              height: 40px;
              border: 3px solid #222222;
              float: left;
              margin-top: 20px;
              img{
                height: 100%;
              }
            }
          }
          .size {
            width: 470px;
            height: 26px;
            //outline: $outline;
            font-size: 12px;
            p {
              font-size: 12px;
              width: 60px;
              height: 26px;
              line-height: 26px;
              float: left;
              color: #999999;
            }
            .size_one {
              text-align: center;
              display: inline-block;
              width: 40px;
              height: 26px;
              //outline: $outline;
              margin-right: 8px;
              line-height: 26px;
              color: #999999;
              font-size: 12px;
            }
            .size_two {
              display: inline-block;
              width: 60px;
              height: 26px;
              //outline: $outline;
              background-image: url("../../imgs/commodityimg/01288e4be985c3b5a143d703e2aa678aef.jpg");
              line-height: 26px;
              color: #999999;
              font-size: 12px;
              text-align: center;
            }
          }
          .quantity {
            width: 470px;
            height: 52px;
            //outline: $outline;
            p {
              font-size: 12px;
              width: 60px;
              height: 52px;
              line-height: 52px;
              float: left;
              color: #999999;
            }
            .num_minus {
              width: 55px;
              height: 25px;
              //outline:$outline;
              margin-top: -38px;
              margin-left: 60px;
              float: left;
            }
            .num {
              display: inline-block;
              width: 40px;
              height: 25px;
              //outline:$outline;
              float: left;
              text-align: center;
              line-height: 25px;
              background: #ebebe4;
            }
            .minus {
              display: inline-block;
              width: 15px;
              height: 25px;
              //outline:$outline;
              float: left;
              .tops {
                display: block;
                width: 13px;
                height: 11px;
                line-height: 8px;
                font-size: 12px;
                border: 1px solid #eaeceb;
                span {
                  display: block;
                  width: 5px;
                  height: 5px;
                  border: 1px solid black;
                  border-right: 1px solid transparent;
                  border-bottom: 1px solid transparent;
                  margin-left: 2px;
                  margin-top: 1px;
                  transform: rotate(45deg);
                }
              }
              .buttons {
                display: block;
                width: 13px;
                height: 11px;
                line-height: 8px;
                font-size: 12px;
                border: 1px solid #eaeceb;
                //margin-top: 2px;
                span {
                  display: block;
                  width: 5px;
                  height: 5px;
                  margin-left: 2px;
                  transform: rotate(45deg);
                  border: 1px solid black;
                  border-left: 1px solid transparent;
                  border-top: 1px solid transparent;
                }
              }
            }
          }
          .add {
            width: 470px;
            height: 48px;
            //outline: $outline;
            .add_cart {
              display: inline-block;
              margin-right: 10px;
              width: 197px;
              height: 48px;
              line-height: 48px;
              text-align: center;
              color: #fff;
              background: #e92601;
              font-size: 14px;
              cursor: pointer;
            }
            .add_one {
              display: inline-block;
              width: 127px;
              height: 48px;
              text-align: center;
              line-height: 48px;
              background: #fff;
              color: #222;
              border: 1px solid #ccc;
              font-weight: 700;
              font-size: 12px;
              cursor: pointer;
            }
          }
          .share {
            display: inline-block;
            width: 470px;
            height: 19px;
            //outline: $outline;
            margin-top: 24px;
            .share_v {
              color: #999;
              font-size: 12px;
              float: left;
            }
            .share_s {
              i {
                display: block;
                float: left;
                width: 16px;
                height: 16px;
                margin-left: 5px;
                cursor: pointer;
                //outline: $outline;
              }
              .weibo{
                background-image: url("../../imgs/commodityimg/sprite.share.png");
                background-position:0 0 ;
              }
              .weixin{
                background-image: url("../../imgs/commodityimg/sprite.share.png");
                background-position:0 -36px ;
              }
              .tweibo{
                background-image: url("../../imgs/commodityimg/sprite.share.png");
                background-position:-18px 0 ;
              }
              .qzone{
                background-image: url("../../imgs/commodityimg/sprite.share.png");
                background-position:-18px -18px ;
              }
              .qq{
                background-image: url("../../imgs/commodityimg/sprite.share.png");
                background-position:-36px 0 ;
              }
              .renren{
                background-image: url("../../imgs/commodityimg/sprite.share.png");
                background-position: 0 -18px;
              }
              .douban{
                background-image: url("../../imgs/commodityimg/sprite.share.png");
                background-position: -36px -18px;
              }
            }
          }
        }
      }
    }
  }
  .content_info {
    width: 1152px;
    height: 233px;
    //outline: $outline;
    .info_title {
      //display:inline-block;
      //width: 1152px;
      //height: 18px;
      margin-bottom: 25px;
      text-align: center;
      .title_cur {
        display: inline-block;
        color: #222;
        border-top: 2px solid #222;
        margin-top: -2px;
        padding-top: 15px;
        font-size: 12px;
      }
      .sep{
        display: inline-block;
        margin:0 30px;
        color: #eaeceb;
        font-size: 14px;
        cursor: default;
        font-weight: 700;
      }
      .title {
        display: inline-block;
        padding-top: 15px;
        font-weight: 700;
        cursor: pointer;
        font-size: 12px;
      }
    }
    .info_a{
      width:1152px;
      height:146px;
      //outline: $outline;
      font-size: 12px;
      .info_b{
        list-style: none;
        width:640px;
        height: 60px;
        color: #999;
        margin:0 auto;
        li{
          float: left;
          width: 25%;
          line-height: 20px;
        }
      }
      .info_c{
        //display: inline-block;
        width:470px;
        height:52px;
        border:1px solid #eaeceb;
        margin:17px auto 0;
        padding-bottom: 15px;
        list-style: none;
        font-size: 12px;
        li{
          margin:12px 20px 0;
        }
        .info_left{
          float: left;
          color: #999;
        }
        .info_e{
          display:inline-block;
          width:14px;
          height:10px;
          border:1px solid #eaeceb;
          margin-right: 2px;
        }
        .info_e_cur{
          display:inline-block;
          width:14px;
          height:10px;
          margin-right: 2px;
          background: #999;
          border:1px solid #eaeceb;
        }
      }
    }
  }
  .content_size {
    width: 1152px;
    height: 670px;
    //outline: $outline;
    .center_title{
      width:1152px;
      height:27px;
      margin-bottom: 25px;
      text-align: center;
      .title_cur{
        color: #222;
        border-top:2px solid #222;
        margin-top: -2px;
        display: inline-block;
        padding-top: 15px;
        font-weight: 700;
        cursor: pointer;
        font-size: 12px;
      }
    }
    .size_title{
      width:672px;
      height:150px;
      display: table;
      text-align: center;
      margin:0 auto;
      border-collapse:collapse;
      border-spacing:0;
      //color: #999;
      font-size: 12px;
      thead{

        display: table-header-group;
        background: #f5f7f6;
        color: #999;
          th{
            width:110px;
            text-align: center;
            padding: 10px 0;
          }
      }
    }
    .size_tip{
      color: #999;
      margin-top: 15px;
      text-align: center;
      font-size: 12px;
    }
    img{
      margin-left: 226px;
    }
  }
  .content_message {
    width: 1152px;
    height: 270px;
    //outline: $outline;
    .message_title{
      margin-bottom: 25px;
      text-align: center;
      font-size: 12px;
      .title_cur{
        color: #222;
        border-top:2px solid #222;
        margin-top:-2px;
        padding-top: 15px;
        display: inline-block;
        cursor: pointer;
        font-weight: 700;
        font-size: 12px;
      }
     }
    .message_html{
      width:750px;
      margin:0 auto;
      text-align: center;
      font-size: 12px;
      color: #999;
      line-height: 20px;
    }
  }
  .content_comment {
    width: 1152px;
    //outline: $outline;
    padding-bottom:30px;
    .comment_title{
      margin-bottom: 25px;
      text-align: center;
      .title{
        display: inline-block;
        padding-top: 15px;
        font-weight: 700;
        cursor: pointer;
        color: #666;
        font-size: 12px;
      }
      .sep{
        display: inline-block;
        margin:0 30px;
        color: #eaeceb;
        font-size: 14px;
        cursor: default;
        font-weight: 700;
      }
      .title_cur{
        border-top:2px solid #222;
        margin-top:-2px;
        display: inline-block;
        padding-top:15px;
        font-weight: 700;
        cursor: pointer;
        color: #666;
        font-size: 12px;
      }
    }
    .comment_content{
      background: #f5f7f6;
      padding:20px 20px 0;
      font-size: 12px;
      h2{
        font-weight:700;
        font-size: 14px;
        margin-bottom: 10px;
        color: #000;
      }
      .comment_btn{
        padding:20px 0;
        border-top:1px solid #eaeceb;
        font-size: 12px;
        .btn{
          display: block;
          width:140px;
          height:32px;
          line-height: 32px;
          color: #fff;
          background: #222;
          text-align: center;
          font-size: 12px;
          margin:0 auto;
          cursor: pointer;
        }
      }
    }
    .after_service{
      text-align: center;
      margin-top:30px;
      .after_service_switch{
        height:44px;
        line-height: 44px;
        background: #eaeceb;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
      }
    }
    .browse{
      border-top:2px solid #eaeceb;
      overflow: inherit;
      margin-top:30px;
      .browse_title{
        margin-bottom: 25px;
        text-align: center;
        .title_cur{
          display: inline-block;
          color: #222;
          border-top:2px solid #222;
          margin-top:-2px;
          padding-top:15px;
          font-weight:700;
          cursor: pointer;
          font-size: 12px;
        }
      ;
      }
    }
  }
  .content_btn {
    width: 1152px;
    height: 364px;
    //outline: $outline;
    .in_good{
      width:1010px;
      margin:0 auto;
      height: auto;
      min-width: 984px;
      overflow: hidden;
      a{
        text-decoration: none;
      }
      img{
        width:180px;
        height:240px;
        display: block;
        margin:0;
      }
      .name{
        max-width: 150px;
        height:18px;
        display: block;
        //margin-top:5px;
        margin:5px 0;
        color: #222;
        line-height: 16px;
        overflow: hidden;
        text-overflow:ellipsis ;
        white-space: nowrap;
        font-size: 12px;
      }
      .good{
        float: left;
        width:180px;
        margin-right:22px;
      }
      .price{
        font-weight:700;
      }
    }
    .browse{
      border-top:2px solid #eaeceb;
      overflow: inherit;
      margin-top:30px;
      .browse_title{
        margin-bottom: 25px;
        text-align: center;
        .title_cur{
          display: inline-block;
          color: #222;
          border-top:2px solid #222;
          margin-top:-2px;
          padding-top:15px;
          font-weight:700;
          cursor: pointer;
          font-size: 12px;
        }
      }
    }
  }
}



//yoho 页尾
.footer{
  width: 100%;
  height: 295px;
  font-size: 12px;
  color: #666666;
  background: #000000;
  overflow: hidden;
  //页尾内容
  .footerContent{
    width: 1150px;
    height: 295px;
    //border: 1px solid white;
    margin: 0 auto;
    //页尾 内容上
    .top{
      //width: 1150px;
      height: 65px;
      border-bottom: 1px solid #262626;
      .left{
        width: 135px;
        height: 28px;
        margin-top: 19px;
        font-weight: 700;
        float: left;
        margin-right: 60px;
        img{
          display: inline-block;
          float: left;
        }
        .red{
          color: #e01;
          display: inline-block;
          line-height: 30px;
          margin: 0 5px 0 10px;
          float: left
        }
        .rgbf{
          color: white;
          line-height: 30px
        }
      }
      .right{
        width: 240px;
        height: 30px;
        float: right;
        border: 1px solid #262626;
        margin-top: 17px;
        input{
          border: none;
          outline: none;
          width: 200px;
          height: 28px;
          color: #666666;
          padding-left: 10px;
          background: black;
        }
        img{
          vertical-align: middle;

        }
      }
    }
    //页尾 内容中
    .center{
      height: 150px;
      overflow: hidden;
      margin: 5px 0 10px;
      ul{
        padding: 0;
        margin-right: 112px;
        float: left;
        li{
          list-style: none;
          line-height: 25px;
          color: white;
          a{
            color: #666666;
          }
        }
      }
    }
    //页尾 内容末
    .bottom{
      height: 64px;
      .isc{
        width: 195px;
        float: left;
        img{
          padding-right: 5px;
        }
      }
      .bottomRight{
        float: left;
        .nav{
          padding: 0;
          a{
            color: #666666;
          }
          span{
            padding: 0 15px;
            color: #666666;
          }
        }
        p{
          margin: 0;
          line-height: 25px;
          a{
            color: #666666;
          }
        }
      }
    }
  }
}


