*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 0.2rem;
  background:#444444 ;
  font-family: MicroSoft YaHei,SimSun,sans-serif;
  width: 100%;
  position: relative;
  #countries{
    width: 7rem;
    height: 5rem;
    background: white;
    position: absolute;
    left:6.3%;
    top: 0;
    #main{
      width: 6.6rem;
      height: 4.6rem;
      margin:0.2rem auto;
      outline: 1px solid red;
    }
  }
}
.header{
  width: 7.04rem;
  height: 0.4rem;
  color:white;
  margin: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  text-align: center;
  line-height: 0.4rem;
  position: relative;
  img{
    position: absolute;
    display: block;
    height: 0.4rem;
    top: 0;
    left: 0;
  }
}

.container{
  width: 7.04rem;
  margin: auto;
  .row{
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.1rem;
    border: 0.01rem solid #A2A2A2;
    border-radius:0.1rem;
    position: relative;
  }

  .selectCountries{
    background: #575757;
    color: white;
  }
  .selectTitle{
    line-height: 2.5;
    margin-left: 0.15rem;
    display: block;
    float: left;
  }
  .select{
    float: right;
    height: 100%;
    width: 1.5rem;
    outline: 1px solid red;
    line-height: 0.5rem;
    position: relative;
    .arrayRight{
      height: 0.13rem;
      width: 0.13rem;
      border: 0.03rem solid ghostwhite;
      position: absolute;
      top: 0.17rem;
      left: 0.85rem;
      transform: rotate(-45deg);
      border-top: transparent;
      border-left: transparent;
    }
    span{
      height: 100%;
    }
  }

  .phoneNum{
    background:#575757 ;
    span{
      position: absolute;
      left: 0.15rem;
      line-height: 2.5;
      color: white;
      font-size: 0.2rem;
    }
    input{
      width: 100%;
      height: 100%;
      border-radius: 0.1rem;
      color: gray;
      background-color:#575757;
      border: none;
      outline: none;
      text-indent: 0.7rem;
      font-size: 0.2rem;
    }
  }

  .nextStep{
    background: #A2A2A2;
    text-align: center;
    line-height: 0.5rem;
    position: relative;
    color: white;
    #attention{
      position: absolute;
      width: 3rem;
      height: 1rem;
      top: 0.1rem;
      left: 1.95rem;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 0.1rem;
      line-height: 1rem;
      display: none;
    }
  }
}
.footer{
   color: white;
   width: 7.04rem;
   margin: auto;
   height: 0.4rem;
   text-align: center;
   font-size: 0.15rem;
 }