*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 0.26rem;
}
.search{
  height: 1.07rem;
  width: 100%;
  background: #3A3A3A;
  font-size: 0.4rem;
  color: white;
  text-align: center;
  line-height: 1.07rem;
  position: relative;
  .array_left{
    height: 0.19rem;
    width: 0.19rem;
    border: 0.03rem solid white;
    position: absolute;
    top:0.42rem;
    left: 0.54rem;
    transform: rotate(45deg);
    border-top: transparent;
    border-right: transparent;
  }
  img{
    float: right;
    height: 0.43rem;
    width:0.54rem;
    position: absolute;
    top:0.30rem;
    right: 0.36rem;
  }
}

.input_bac{
  background: #F8F8F8;
  height: 0.95rem;
  width: 100%;
  overflow: hidden;
  .input_main{
    height:0.6rem;
    width: 6.8rem;
    margin: 0.17rem auto;
    position: relative;
    font-size: 0.3rem;
    font-weight: 600;
    color: gray;
    input{
      display: block;
      float: left;
      width: 5.68rem;
      height: 100%;
      border: 0.01rem;
      outline: none;
      background: white;
      border-radius: 0.3rem;
      font-size: 0.25rem;
      text-indent: 0.7rem;
    }
    img{
      width: 0.29rem;
      display: block;
      position: absolute;
      top:0.18rem;
      left: 0.13rem;
    }
    span{
      display: block;
      float: right;
      margin-top: 0.12rem;
    }
  }
}

.main_bac{
  width: 100%;
  height: 9.12rem;
  overflow: hidden;
  .main{
    width: 6.47rem;
    height:0.32rem;
    margin: auto;
    margin-top: 8.25rem;
    .to_top{
      width: 1.8rem;
      display: block;
      float: right;
      .up_array{
        display: inline-block;
        width: 0.1rem;
        height: 0.1rem;
        border: 0.03rem solid black;
        transform: rotate(45deg);
        border-bottom: transparent;
        border-right: transparent;
      }
    }
  }
}

.footer{
  height: 1.46rem;
  width: 100%;
  background: #F8F8F8;
  border-top:0.02rem solid #CCCCCC;
  border-bottom: 0.02rem solid #CCCCCC;
  text-align: center;
  line-height: 1.46rem;
  color: black;
}