*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Microsoft Yahei, "Î¢ÈíÑÅºÚ";
  background: #F7FAFC;
}
.content{
  width: 100%;
  min-width: 625px;
  margin: 0 auto;
  background: #F7FAFC;
  margin-top: 100px;
  input[type=text],input[type=password]{
    width: 293px;
    height: 48px;
  }
  .two{
    width: 625px;
    margin: 0 auto;
    text-align: center;
    p{
      font-size: 20px;
      color: #757575;
      text-align: center;
    }
  }
  .tree{
    width: 625px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
    .trCon{
      width: 300px;
      margin: 0 auto;
      .name{
        padding-left: 8px;
        border-radius: 3px;
        border: 1px solid #E8E8E8;
        outline: none;
      }
      .pass{
        padding-left: 8px;
        border-radius: 3px;
        border: 1px solid #E8E8E8;
        margin-top: 30px;
        outline: none;
      }
      .btn{
        width: 300px;
        height: 50px;
        border-radius: 3px;
        background: #5CB8FF;
        border:none;
        outline: none;
        color: #ffffff;
        font-size: 22px;
        margin-top: 30px;
        cursor: pointer;
        text-align: center;
      }
      .forGet{
        width: 300px;
        margin-top: 30px;
        .pOne{
          float: left;
          input[type=checkbox]{
              vertical-align: -2px;
            outline: none;
            margin-right: 5px;
          }
        }
        .pTwo{
          float: right;
          a{
            text-decoration: none;
          }
          a:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.foot{
  background: #F7FAFC;
  width: 100%;
  min-width: 625px;
  margin-top: 140px;
  .frou{
    width: 625px;
    height: 75px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 500;
    color: #919191;
    p{
      padding-top: 45px;
      font-size: 12px;
      text-align: center;
    }
    a{
      color: #919191;
      font-size: 12px;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}


